
body {
    background-image: url('../../../public/kasutajakontopilt.jpg');
    background-size: cover; /* Ensures the image covers the whole background */
    background-position: center; /* Centers the background image */
    background-attachment: fixed; /* Keeps the background fixed when scrolling */
    height: 100%; /* Ensures the background stretches to fill the viewport */
}

